/* Top right menu */

table td{

	padding-right: 20px;
	font-family: arial,sans-serif;
	font-size: 13px;
	color: rgba(128, 128, 128, 1);
}


td a{
	
	font-family: arial,sans-serif;
	font-size: 13px;
	color: rgba(128, 128, 128, 1);
	text-decoration: none;

}

#menu-div{
	float: right;
	display: block;
}

#applist{
	width: 15px;
	height: 15px;  
	filter: invert(50%); 
	
}

#applist:hover{
	filter: invert(0%);
}

#notif{
	width: 18px;
	height: 18px;  
	filter: invert(50%); 
}

#notif:hover{
	filter: invert(0%);
}

.profilePic{
	border-radius: 100%;
}

/* Div centering the logo and search */

#center{

	padding-top: 10%;
	clear: both;
	display: block;
	
}

#glogo{
	position: relative;
}

/* Search bar */

#search_bar{
	
	display: block;
	height: 34px;
	width: 559px;
	border:1px;
	box-shadow: 1px 2px 7px 2px rgba(0,0,0,0.2);
	margin-top: 19px;
	padding-left: 10px;
}


/* Buttons */

#bts{

	margin-top: 3%;
	background-color: #F1F1F1;
	padding: 5px;
}


/* The bottom menu */

#Nav ul{
	margin: 0;
    padding: 0;
	background-color: #F2F2F2;
	list-style-type: none;
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0px;
	right: 0px;
	border-top: 1px solid #E4E4E4;
}

#InNav  li {
  display: inline-block;
  padding: 10px 0 10px 31px;
  padding-right: 4%;
}


#Nav a{
	text-decoration: none;
	color: grey;
	display: inline;
	font-family: arial, sans-serif;
	font-size: 13px;
}